<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TopSales6</title>    

    <title>TopSales6</title>

    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/base-area-restrita.css">
    <link rel="stylesheet" href="/stylesheets/enderecos.css">
</head>
<body>    

    <%- include('./partials/header') %>

    <main>
        <div class="container">
            <div class="div-main-config-padrao">
                <!--Comece aqui!-->
                <div class="div-area-restrita">

                    <%- include('./partials/menu-lateral-perfil') %>
                    
                    <div class="div-info-usuario-principal">
                        <p class="titulo-meus-enderecos">
                            <span class="material-icons-outlined">location_on</span> EDITAR ENDEREÇO
                        </p>
                        <form action="/usuario/enderecos/atualizar?_method=PUT" method="POST"  class="form-enderecos">
                            <div class="div-rua-nunero">
                                <div class="div-rua">
                                    <label for="rua">Rua</label>

                                    <% if(endereco != null) { %>
                                            <input id="rua" name="rua" type="text" value="<%= endereco.rua %>" placeholder="Digite o nome da rua" >                                        
                                    <% } %> 

                                    <% if(locals.dadosPreenchido) { %>                                        
                                        <input id="rua" name="rua" type="text" value="<%= locals.dadosPreenchido && dadosPreenchido.rua %>" placeholder="Digite o nome da rua" >                                        
                                    <% } %>                                     

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.rua) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.rua.param + ":  " %></b>  <%= errorsFormEndereco.rua.msg %>
                                        </p> 
                                    <% } %>    

                                </div>
                                <div class="div-numero">
                                    <label for="numero">Número</label>

                                    <% if(endereco != null) { %>
                                        <input id="numero" name="numero" value="<%= endereco.numero %>" type="text" placeholder="Digite o número" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="numero" name="numero" value="<%= dadosPreenchido.numero %>" type="text" placeholder="Digite o número" >                                        
                                    <% } %> 

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.numero) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.numero.param + ":  " %></b>  <%= errorsFormEndereco.numero.msg %>
                                        </p> 
                                    <% } %>  
                                </div>                                
                            </div>

                            <div class="div-complemento-cep-bairro">
                                <div class="div-complemento">
                                    <label for="complemento">Complemento</label>

                                    <% if(endereco != null) { %>
                                        <input id="complemento" name="complemento" value="<%= endereco.complemento %>" type="text" placeholder="Digite o complemento" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="complemento" name="complemento" value="<%= dadosPreenchido.complemento %>" type="text" placeholder="Digite o complemento" >                                        
                                    <% } %> 

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.complemento) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.complemento.param + ":  " %></b>  <%= errorsFormEndereco.complemento.msg %>
                                        </p> 
                                    <% } %>  
                                </div>
                                <div class="div-cep">
                                    <label for="cep">CEP</label>

                                    <% if(endereco != null) { %>
                                        <input id="cep" name="cep" type="text" value="<%= endereco.cep %>"  placeholder="Digite o seu CEP" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="cep" name="cep" type="text" value="<%= dadosPreenchido.cep %>"  placeholder="Digite o seu CEP" >                                        
                                    <% } %> 

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.cep) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.cep.param + ":  " %></b>  <%= errorsFormEndereco.cep.msg %>
                                        </p> 
                                    <% } %> 
                                </div>
                                <div class="div-bairro">
                                    <label for="bairro">Bairro</label>                                    

                                    <% if(endereco != null) { %>
                                        <input id="bairro" name="bairro" value="<%= endereco.bairro %>"  type="text" placeholder="Digite o seu bairro" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="bairro" name="bairro" value="<%= dadosPreenchido.bairro %>"  type="text" placeholder="Digite o seu bairro" >                                        
                                    <% } %> 

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.bairro) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.bairro.param + ":  " %></b>  <%= errorsFormEndereco.bairro.msg %>
                                        </p> 
                                    <% } %> 
                                </div>
                            </div>

                            <div class="div-cidade-estado">
                                <div class="div-cidade">
                                    <label for="cidade">Cidade</label>

                                    <% if(endereco != null) { %>
                                        <input id="cidade" name="cidade" type="text" value="<%= endereco.cidade %>"  placeholder="Digite o nome da sua cidade" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="cidade" name="cidade" type="text" value="<%= dadosPreenchido.cidade %>"  placeholder="Digite o nome da sua cidade" >                                        
                                    <% } %>

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.cidade) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.cidade.param + ":  " %></b>  <%= errorsFormEndereco.cidade.msg %>
                                        </p> 
                                    <% } %> 
                                </div>
                                <div class="div-estado">
                                    <label for="estado">Estado</label>

                                    <% if(endereco != null) { %>
                                        <input id="estado" name="estado" value="<%= endereco.estado %>"  type="text" placeholder="Digite o nome do seu estado" >                                        
                                    <% } %>

                                    <% if(locals.dadosPreenchido) { %>
                                        <input id="estado" name="estado" value="<%= dadosPreenchido.estado %>"  type="text" placeholder="Digite o nome do seu estado" >                                        
                                    <% } %>

                                    <% if(locals.errorsFormEndereco && errorsFormEndereco.estado) { %>
                                        <p class="msg-erro-form-endereco"> 
                                            <b><%= errorsFormEndereco.estado.param + ":  " %></b>  <%= errorsFormEndereco.estado.msg %>
                                        </p> 
                                    <% } %> 
                                </div>
                            </div>

                            <% if(endereco != null) { %>
                                <input type="text" name="endereco_para_atualizar" value="<%= endereco.id %>" hidden>                                        
                            <% } %>

                            <% if(locals.dadosPreenchido) { %>
                                <input type="text" name="endereco_para_atualizar" value="<%= dadosPreenchido.endereco_para_atualizar %>" hidden>                                        
                            <% } %>

                            <div class="div-btn-atualiza-endereco">
                                <button type="submit">ATUALIZAR</button>                                
                            </div>                             
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <%- //include('./partials/footer') %>

</body>
</html>