<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TopSales6</title>    

    <title>TopSales6</title>

    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/base-area-restrita.css">
    <link rel="stylesheet" href="/stylesheets/enderecos.css">

</head>
<body>    

    <%- include('./partials/header') %>

    <main>
        <div class="container">
            <div class="div-main-config-padrao">
                <!--Comece aqui!-->
                <div class="div-area-restrita">

                    <%- include('./partials/menu-lateral-perfil') %>
                    
                    <div class="div-info-usuario-principal">
                        <p class="titulo-meus-enderecos">                            
                            <span class="material-icons-outlined">map</span>MEUS ENDEREÇOS
                        </p>

                        <a class="botao_adiciona_endereco" href="/usuario/enderecos/criar"> 
                            <span class="material-icons-outlined">add</span> 
                            Adicionar endereço
                        </a>

                        <div class="div_card_principal">
                            <% for(let i=0; i<enderecos.length; i++){ %>                                
                                <article class="card_endereco">
                                    <div class="div-icon-endereco">
                                        <span class="material-icons-outlined">location_on</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <%= enderecos[i].rua %>, <%= enderecos[i].numero %> 
                                        </li>
                                        <li>
                                            <%= enderecos[i].complemento %> 
                                        </li>
                                        <li>
                                            Cep <%= enderecos[i].cep %> 
                                        </li>
                                        <li>
                                            <%= enderecos[i].bairro %> - <%= enderecos[i].cidade %> - <%= enderecos[i].estado %>
                                        </li>



                                            <div class="div-btn-edicao-delete">
                                            
                                                <form class="form-btn-editar-endereco" action="/usuario/enderecos/editar" method="POST">
                                                    <input type="text" name="endereco_para_editar" value="<%= enderecos[i].id %>" hidden>
                                                    <button type="submit">
                                                        <span class="material-icons-outlined">edit</span>
                                                    </button>
                                                </form>

                                                    <% if(enderecos.length>1){ %>
                                                        <form class="form-btn-deletar-endereco" action="/usuario/enderecos/delete?_method=DELETE" method="POST">
                                                            <input type="text" name="endereco_para_excluir" value="<%= enderecos[i].id %>" hidden>
                                                            <button type="submit" onclick="return confirm('Este endereço será excluído!');" >
                                                                <span class="material-icons-outlined">delete</span>
                                                            </button>
                                                        </form>
                                                    <% } %> 
                                            </div>
                                        
                                    </ul>

                                    

                                    
                                </article>
                            <% } %> 
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <%- //include('./partials/footer') %>

</body>
</html>