<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopSales6</title>
    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/cards.css">
</head>
<body>  
    
    <%- include('./partials/header') %> 
    
    <!--Carrossel-->
    <input type="radio" name="slides-carrossel" id="slide-carrossel-1" checked>
    <input type="radio" name="slides-carrossel" id="slide-carrossel-2">

    <section class="div-carrossel">
        <div class="div-carrossel-slides">
            <div class="slide slide1">
                <img class="img-banner" src="/images/banner-pi-dh-1.png" alt="Banner de PC Gamer 30% Off">
                <img class="img-banner-mobile" src="/images/banner-pi-dh-1-mobile.png" alt="Banner de PC Gamer 30% Off">                
            </div>
            <div class="slide">
                <img class="img-banner" src="/images/banner-pi-dh-2.png" alt="Banner de PC Gamer 30% Off">
                <img class="img-banner-mobile" src="/images/banner-pi-dh-2-mobile.png" alt="Banner de PC Gamer 30% Off">
            </div> 
        </div>
        <div class="barra-navegacao-slides">
            <label for="slide-carrossel-1" class="btn-barra-navegacao-slides btn-slide-1"></label>
            <label for="slide-carrossel-2" class="btn-barra-navegacao-slides btn-slide-2"></label>
        </div>
    </section> 
    <!--***********--> 

    <main>
        <div class="div-main-config-home">            
            <section class="container">
                <h2 class="home-section-titulos">
                    <span class="material-icons-outlined">paid</span> PROMOÇÕES
                </h2>  
                <div class="div-cards-principal">      
                    <div class="div-cards">
                        
                        <% for (let i=0; i<=11; i++) { %> 

                            <article class="card">
                                <div class="div-card-img-infos">
                                    <figure>

                                        <a href="/produto">
                                            <img src="/images/produtos/<%= produtos[i].img %> " alt="Imagem PC Gamer">
                                        </a>

                                        
                                    </figure>

                                    <a href="/produto" class="card-infos">

                                        <div class="card-infos">
                                            <p class="card-nome-produto"><%= produtos[i].nome %></p>
                                            <p class="card-preco-anterior">De: R$<%= produtos[i].preco %> por:</p>
                                            <p class="card-preco-atual"><strong>R$<%= ((produtos[i].preco / 10 ) * 9).toFixed(2) %> à vista</strong></p>
                                            <p class="card-preco-parcelado">12x de R$<%= (produtos[i].preco / 12).toFixed(2) %></p>
                                        </div>  

                                    </a>

                              
                                </div>
                                <button>

                                    <a class="btn_a" href="/carrinho">
                                        <span class="material-icons-outlined">shopping_cart</span> Comprar
                                    </a>


                                </button>
                            </article>

                            <% } %> 
            
                    </div>
                </div>                                  
            </section>
            
            <section class="container">
                <h2 class="home-section-titulos">
                    <span class="material-icons-outlined">location_searching</span> MAIS PROCURADOS
                </h2>
                <div class="div-cards-principal">      
                    <div class="div-cards">

                        <% for (let i=12; i<=23; i++) { %> 

                            <article class="card">
                                <div class="div-card-img-infos">
                                    <figure>
                                        
                                        <a href="/produto">
                                            <img src="/images/produtos/<%= produtos[i].img %> " alt="Imagem PC Gamer">
                                        </a>
                                        
                                        
                                    </figure>
                                    <div class="card-infos">

                                        <a href="/produto" class="card-infos">
                                            <p class="card-nome-produto"><%= produtos[i].nome %></p>
                                            <p class="card-preco-anterior">De: R$<%= produtos[i].preco %> por:</p>
                                            <p class="card-preco-atual"><strong>R$<%= ((produtos[i].preco / 10 ) * 9).toFixed(2) %> à vista</strong></p>
                                            <p class="card-preco-parcelado">12x de R$<%= (produtos[i].preco / 12).toFixed(2) %></p>    
                                        </a>

                                       </div>                                
                                </div>

                                <button class="btn_div">

                                    <a class="btn_a" href="/carrinho">
                                        <span class="material-icons-outlined">shopping_cart</span> Comprar
                                    </a>

                                </button>


                            </article>
    
                        <% } %>

                    </div>
                </div>
            </section>       
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>