<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclass th=device-wclass th, initial-scale=1.0">
    <title>TopSales6</title>
    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>  

<%- include("./partials/header")%>
    
<main class="main-login">
    <div class="container">
        <div class="div-main-config-padrao">
            <form action="/usuario/login" method="POST">

                <h1>LOGIN</h1>
                <p>Entre com seus dados corretamente para acessar o sistema.</p>

                <% if(locals.usuarioCadastrado) { %>

                    <p  class="msgStatusSucesso">
                        O usuário <strong><%= locals.usuarioCadastrado %></strong> foi cadastrado com sucesso.                        
                    </p> 

                <% } %>

                <% if(locals.falhaLogin) { %>

                    <p  class="infoFalhaCadastro">
                        <%= locals.falhaLogin %>
                        
                    </p> 

                <% } %>




             

                <label for="email"> 
                    <span class="material-icons-outlined">email</span>
                    E-mail
                </label>
                <input type="email" class="email" name="email" placeholder="Exp: email@topsale6.com" >

                <% if(locals.errors && errors.email) { %>

                    <p class="msg-erro-form-login"> 
                        <b> <%= errors.email.param + ": " %></b>  <%=errors.email.msg %>
                    </p> 
                    
                <% } %>  

                <label for="senha">
                    <span class="material-icons-outlined">lock</span>
                    Senha
                </label>
                <input id="senha" type="password" name="senha" class="password" placeholder="Digite sua senha" >

                <% if(locals.errors && errors.senha) { %>

                    <p class="msg-erro-form-login"> 
                        <b> <%= errors.senha.param + ": " %></b>  <%=errors.senha.msg %>
                    </p> 
                    
                <% } %>


                <div class="div-lembrar">
                    <input name="lembrarUsuario" type="checkbox" class="checkbox-lembrar" id="lembrarUsuario">
                    <label for="lembrarUsuario">Lembrar-se</label>
                </div>

                <button class="botao-login-entrar" type="submit">Entrar</button>
                <a class="botao-login-criar_conta" href="/usuario/cadastro">Criar Conta</a>
            </form> 
        </div>
    </div>
</main>

<%- include("./partials/footer")%>

</body>
</html>