<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TopSales6</title>    

    <title>TopSales6</title>

    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/base-area-restrita.css">
    <link rel="stylesheet" href="/stylesheets/meus-dados.css">
</head>
<body>    

    <%- include('./partials/header') %>

    <main>
        <div class="container">
            <div class="div-main-config-padrao">
                <!--Comece aqui!-->
                <div class="div-area-restrita">

                    <%- include('./partials/menu-lateral-perfil') %>
                    
                    <div class="div-info-usuario-principal">
                        <p class="titulo-meus-dados">
                            <span class="material-icons">article</span> MEUS DADOS
                        </p>
                        <form action="/usuario/meus-dados?_method=PUT" method="POST" class="form-meus-dados">

                            <% if(meusDados != 0) { %>

                                <p  class="infoCadastroSucesso">
                                    Cadastro <strong><%=  %></strong> foi atualizado com sucesso.
                                    
                                </p> 
            
                            <% } %>


                            <div class="div-nome-completo">
                                <div class="div-nome">
                                    <label for="nome">Nome</label>
                                    <input id="nome" name="nome" value="<%= meusDados.nome %>" type="text" placeholder="Digite seu nome" >
                                </div>
                                <div class="div-sobrenome">
                                    <label for="sobrenome">Sobrenome</label>
                                    <input id="sobrenome" name="sobrenome" value="<%= meusDados.sobrenome %>" type="text" placeholder="Digite seu sobrenome" >
                                </div>                                
                            </div>
                            <div class="div-cpf-rg-data-nasc">
                                <div class="div-cpf">
                                    <label for="cpf">CPF</label>
                                    <input id="cpf" name="cpf" value="<%= meusDados.cpf %>" type="text" placeholder="Digite apenas números" >
                                </div>
                                <div class="div-rg">
                                    <label for="rg">RG</label>
                                    <input id="rg" name="rg" value="<%= meusDados.rg %>"  type="text" placeholder="Digite apenas números" >
                                </div>
                                <div class="div-data-nasc">
                                    <label for="data-nasc">Data de Nascimento</label>
                                    <input id="data-nasc" name="data_nasc" value="<%= meusDados.data_nascimento %>" type="date" >
                                </div>
                            </div>
                            <div class="div-email-tel">
                                <div class="div-email">
                                    <label for="email">E-Mail</label>
                                    <input id="email" name="email" type="email" value="<%= meusDados.email %>" disabled >
                                </div>
                                <div class="div-tel">
                                    <label for="tel">Telefone</label>
                                    <input id="tel" name="tel" type="text" value="<%= meusDados.telefone %>" placeholder="(11) 98651-9872" >
                                </div>
                            </div>
                            <div class="div-autoriza-promocoes">
                                <input id="autoriza-promocoes" name="autoriza-promocoes" type="checkbox" >
                                <label for="autoriza-promocoes">Autorizo o recebimento de e-mails sobre promoções</label>                                
                            </div>
                            <div class="div-btn-atualiza-cadastro">
                                <button type="submit">ATUALIZAR CADASTRO</button>                                
                            </div>                             
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <%- //include('./partials/footer') %>

</body>
</html>